# Bornhack
# to get acces:
# 1. add conserverser01 to ~/.ssh/config
# 2. get HK to add you and your public key to conserver01
# 3. Do something like "ssh -F ssh_config west1.switch.bh

# This is the jump host.
# you must utit in ~/.ssh/config
#Host conserver01
#      Hostname 151.216.8.2
## additional suggestoins
#     User hlk
#     LocalForward 1443 10.123.44.2:443
#     LocalForward 8443 10.123.44.3:8443
#     LocalForward 8000 10.123.44.4:80

# internal IP
# 10.123.44.1 conserver01

Host *.bh
        ProxyCommand ssh -q -a -x conserver01 -W %h:22

# LibreNMS, Oxidized, syslog
Host bornhack-nms01.bh
        Hostname 10.123.44.5

# Switches
# Born-core is virtual chassis EX3300
Host born-core-01.bh
        Hostname 10.123.44.10

#Host born-core-02
#       Hostname 10.123.44.11
#Host born-srx-01
#        Hostname 10.123.44.12
#Host born-srx-02
#        Hostname 10.123.44.13

host *.switch.bh
        user hlk
        kexAlgorithms +diffie-hellman-group1-sha1
        ciphers aes256-cbc
        hostKeyAlgorithms +ssh-dss
        ProxyCommand ssh -q -a -x conserver01 -W %h:22

Host noctent1.switch.bh
        Hostname 10.123.44.6

Host south3.switch.bh
        Hostname 10.123.44.30

Host south2.switch.bh
        Hostname 10.123.44.20

Host southwest1.switch.bh
        Hostname 10.123.44.21

Host south1.switch.bh
        Hostname 10.123.44.15

Host west1.switch.bh
        Hostname 10.123.44.40

Host west2.switch.bh
        Hostname 10.123.44.41

Host north1.switch.bh
        Hostname 10.123.44.42

